<% layout('layouts/boilerplate') %>

<!-- TODO: napraviti da korisnik moze da sam menja slike u slideru -->
<!-- Slider -->
<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
    <!-- Crtice -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Sadrzaj -->
    <div class="carousel-inner">
        <!-- Prvi slajd -->
        <div class="carousel-item active">
            <!-- Slika -->
            <div class="bg-image" style="background-image: url(images/slider/maraton.jpg);"></div>
            <!-- Sadrzaj -->
            <div class="container">
                <a href="/clanovi" class="naslov">
                    <h4>Maraton</h4>
                </a>
            </div>
        </div>

        <!-- Drugi slajd -->
        <div class="carousel-item">
            <!-- Slika -->
            <div class="bg-image" style="background-image: url(images/slider/klupice.jpg);"></div>
            <!-- Sadrzaj -->
            <div class="container">
                <a href="/clanovi" class="naslov">
                    <h4>Klupice</h4>
                </a>
            </div>
        </div>

        <!-- Treci slajd -->
        <div class="carousel-item">
            <!-- Slika -->
            <div class="bg-image" style="background-image: url(images/slider/NGkoncert.jpg);"></div>
            <!-- Sadrzaj -->
            <div class="container">
                <a href="/clanovi" class="naslov">
                    <h4>Novogodisnji koncert</h4>
                </a>
            </div>
        </div>

        <div class="carousel-item">
            <!-- Slika -->
            <div class="bg-image" style="background-image: url(images/slider/predavanje.jpg);"></div>
            <!-- Sadrzaj -->
            <div class="container">
                <a href="/clanovi" class="naslov">
                    <h4>Novogodisnji koncert</h4>
                </a>
            </div>
        </div>
    </div>

    <!-- Predhodni slajd -->
    <a href="#myCarousel" class="carousel-control-prev" role="button" data-slide="prev">
        <span class="sr-only">Previous</span>
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <!-- Sledeci slajd -->
    <a href="#myCarousel" class="carousel-control-next" role="button" data-slide="next">
        <span class="sr-only">Previous</span>
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
</div>

<!-- Ikon Section -->
<section class="link-icon">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- O nama -->
                <a href="/istorija">
                    <div class="ikonice d-flex flex-column text-center">
                        <i class="fas fa-landmark"></i>
                        <span class="mt-2">O NAMA</span>
                    </div>
                </a>
                <!-- Clanovi -->
                <a href="/clanovi">
                    <div class=" ikonice d-flex flex-column text-center ">
                        <i class="fas fa-users"></i>
                        <span class="mt-2">CLANOVI</span>
                    </div>
                </a>
                <!-- Akcije -->
                <a href="/istorija">
                    <div class=" ikonice d-flex flex-column text-center">
                        <i class="fas fa-people-carry"></i>
                        <span class="mt-2">AKCIJE</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Divider -->
<hr class="my-3">

<!-- Akcije -->
<div class="akcije">
    <div class="container">
        <div class="row">
            <!-- Naslov -->
            <div class="col-lg-12">
                <h2 class="text-center mb-4">Akcije</h2>
            </div>

            <!-- Kartice -->
            <div class="col-md-4">
                <div class="card">
                    <div class="inner">
                        <a href="">
                            <img src="/images/slider/klupice.jpg" class="card-img-top" alt="...">
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn">Saznaj više</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="inner">
                        <a href="">
                            <img src="/images/slider/maraton.jpg" class="card-img-top" alt="...">
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn">Saznaj više</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="inner">
                        <a href="">
                            <img src="/images/slider/NGkoncert.jpg" class="card-img-top" alt="...">
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn">Saznaj više</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 text-center mt-4">
                <a href="/akcije" class="novosti-link">
                    Vidi više akcija <i class="fas fa-angle-right novosti"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Divider -->
<hr class="my-3">

<!-- Dogadjaji -->
<div class="dogadjaji">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center mt-4">
                <h2 class="text-center mb-4">Događaji</h2>
            </div>
        </div>
            <!-- Dogadjaj 1 -->
        <div class="row mb-3">
            <div class="col-2">
                <div class="datum d-flex flex-column text-center">
                    <i class="far fa-calendar align-self-center mb-2"></i>
                    <span>11.12</span>
                    <span>2020</span>
                </div>
            </div>
            <div class="col-10 d-flex flex-column">
                <h4>Dogajaj 1</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, voluptatem.</p>
                <a href="#" class="dugme">Saznaj više</a>
            </div>
        </div>

            <!-- Dogadjaj 2 -->
        <div class="row mb-3">
            <div class="col-2">
                <div class="datum d-flex flex-column text-center">
                    <i class="far fa-calendar align-self-center mb-2"></i>
                    <span>11.12</span>
                    <span>2020</span>
                </div>
            </div>
            <div class="col-10 d-flex flex-column">
                <h4>Dogajaj 3</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, voluptatem.</p>
                <a href="#" class="dugme">Saznaj više</a>
            </div>
        </div>

            <!-- Dogadjaj 3 -->
        <div class="row mb-3">
            <div class="col-2">
                <div class="datum d-flex flex-column text-center">
                    <i class="far fa-calendar align-self-center mb-2"></i>
                    <span>11.12</span>
                    <span>2020</span>
                </div>
            </div>
            <div class="col-10 d-flex flex-column">
                <h4>Dogajaj 3</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, voluptatem.</p>
                <a href="#" class="dugme">Saznaj više</a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center mt-4">
                <a href="/dogadjaji" class="dogadjaji-link">
                    Vidi više događaja <i class="fas fa-angle-right novosti"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Divider -->
<hr class="my-3">

<!-- Pridruzi se -->
<section class="join mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
                <h3 class="text-center">Get Involved with Rotary</h3>
                <p class="text-center">Turn your passion and ideas into lasting change in communities around the world.</p>
                <a href="/pridruzise" class="btn btn-outline">JOIN US</a>
            </div>
            <!-- slika -->
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
                <img src="/images/logo/joinLogo.jpg" alt="Logo" class="img-fluid">
            </div>
        </div>
    </div>
</section>