<!-- Footer -->
<footer class="mt-auto bg-dark text-white">
    <div class="container">
        <div class="row">
            <!-- Logo sa leve strane -->
            <div id="logo" class="col-lg-4">
                <h5>ROTARAKT KLUB NIŠ</h5>
                <img src="/images/logo/footerLogo.png" alt="footer logo">
            </div>

            <!-- Korisni linkovi -->
            <div id="linkovi" class="col-lg-4 d-flex flex-column">
                <h5 class="mb-2">KORISNI LINKOVI</h5>
                <span>
                    <a href="#">Istorija kluba</a>
                </span>
                <span class="mt-2">
                    <a href="#">Članovi</a>
                </span>
                <span class="mt-2">
                    <a href="#">Akcije</a>
                </span>
                <span class="mt-2">
                    <a href="#">Pridruži se</a>
                </span>
            </div>

            <!-- TODO: Kontakt OVO NAMESTITI DA MOZE DA SE EDITUJE-->
            <div class="col-lg-4 d-flex flex-column">
                <h5 class="mb-2">KONTAKT</h5>
                <span>
                    <i class="fas fa-home mr-3"></i> Mesto okupljanja: restoran Mascarons, Orlovića Pavla 12
                </span>
                <span class="mt-2">
                    <i class="fas fa-envelope mr-3"></i> rotaractclubnis@gmail.com
                </span>
                <span class="mt-2">
                    <i class="fas fa-clock mr-3 "></i> Dan i vreme okupljanja: ponedeljak, 21.00h
                </span>
            </div>
        </div>
    </div>
</footer>

<!-- Copyright -->
<section class="copyright bg-dark text-white">
    <div class="container d-flex justify-content-between">
        <span>&copy;Copyright Rotarakt kub Niš</span>
        <span>Designed by Nasko</span>
    </div>
</section>