<!-- Navbar -->
<nav class="navbar navbar-expand-xl navbar-light">
    <!-- Slika sa leve strane -->
    <a class="navbar-brand" href="/">
        <img src="/images/logo/navbarLogo.png" alt="navbar logo" class="pl-3">
    </a>
    <!-- "Dugme" -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Sadrzaj nav bara -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <!-- Pocetna -->
            <li class="nav-item pl-2">
                <a class="nav-link" href="/">Početna</a>
            </li>

            <!-- O nama dropdown -->
            <li class="nav-item dropdown pl-2">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    O nama
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/istorija">Istorija kluba</a>
                    <a class="dropdown-item" href="/clanovi">Članovi</a>
                </div>
            </li>

            <!-- Akcije -->
            <li class="nav-item pl-2">
                <a class="nav-link" href="/akcije">Akcije</a>
            </li>

            <!-- Dogadjaji -->
            <li class="nav-item pl-2">
                <a class="nav-link" href="/dogadjaji">Događaji</a>
            </li>

            <!-- Pridruzi se -->
            <li class="nav-item pl-2">
                <a class="nav-link" href="/pridruzi_se">Pridruži se</a>
            </li>
            
            <!-- Kontakt -->
            <li class="nav-item pl-2">
                <a class="nav-link" href="/kontakt">Kontakt</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <% if(!currentUser) { %>
                <!-- Login -->
                <li class="nav-item pl-2">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            
                <!-- Login -->
                <li class="nav-item pl-2">
                    <a class="nav-link" href="/register">Register</a>
                </li>
            <% } else { %>
                <!-- Login -->
                <li class="nav-item pl-2">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            <% } %>
        </ul>
    </div>
</nav>