<% layout('layouts/boilerplate') %>

<div class="container">
    <h2><%= title %></h2>
    <form action="/akcije" method="POST" class="needs-validation" novalidate>
        <!-- Title -->
        <div class="form-group">
            <label for="title">Naziv</label>
            <input type="text" class="form-control" id="title" name="akcija[title]" required>
            <div class="valid-feedback">Looks good!</div>
        </div>
    
        <!-- Introduction -->
        <div class="form-group">
            <label for="introduction">Uvodni tekst</label>
            <textarea  type="text" class="form-control" id="introduction" name="akcija[introduction]" rows="3" required></textarea>
            <div class="valid-feedback">Looks good!</div>
        </div>
    
        <!-- description -->
        <div class="form-group">
            <label for="description">Opis akcije</label>
            <textarea type="text" class="form-control" id="description" name="akcija[description]" rows="3" required></textarea>
            <div class="valid-feedback">Looks good!</div>
        </div>
    
         <!-- Date -->
         <div class="form-group">
            <label for="date">Datum</label>
            <input type="text" class="form-control" id="date" name="akcija[date]" required>
            <div class="valid-feedback">Looks good!</div>
        </div>

        <!-- Dugme -->
        <button type="submit" class="btn">Dodaj akciju</button>
    </form>
</div>