<% layout('layouts/boilerplate') %>

<!-- TODO: NAPRAVITI DA SE OVDE SKLADISTE SVE AKCIJE I DA IDU NA DOLE POKUSAJ DA NAPRAVIS LIMIT OD 9 AKCIJA PA DA SLEDECI IDE NA SLEDECU STRANU I TAKO U KRUG-->

<!-- Akcije -->
<div class="akcije">
    <div class="container">
        <div class="row">
            <!-- Naslov -->
            <div class="col-lg-12">
                <h2 class="text-center mb-4">Akcije</h2>
            </div>

            <!-- Kartice -->
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="inner">
                        <a href="">
                            <img src="/images/slider/klupice.jpg" class="card-img-top" alt="...">
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn">Saznaj više</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="inner">
                        <a href="">
                            <img src="/images/slider/maraton.jpg" class="card-img-top" alt="...">
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn">Saznaj više</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="inner">
                        <a href="">
                            <img src="/images/slider/NGkoncert.jpg" class="card-img-top" alt="...">
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn">Saznaj više</a>
                    </div>
                </div>
            </div>

            <!-- TODO: OBRISI POSLE SVE DA BI SE NAPRAVIO TEMPLATE -->

                        <!-- Kartice -->
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="inner">
                        <a href="">
                            <img src="/images/slider/klupice.jpg" class="card-img-top" alt="...">
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn">Saznaj više</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="inner">
                        <a href="">
                            <img src="/images/slider/maraton.jpg" class="card-img-top" alt="...">
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn">Saznaj više</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="inner">
                        <a href="">
                            <img src="/images/slider/NGkoncert.jpg" class="card-img-top" alt="...">
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn">Saznaj više</a>
                    </div>
                </div>
            </div>

                        <!-- Kartice -->
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="inner">
                        <a href="">
                            <img src="/images/slider/klupice.jpg" class="card-img-top" alt="...">
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn">Saznaj više</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="inner">
                        <a href="">
                            <img src="/images/slider/maraton.jpg" class="card-img-top" alt="...">
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn">Saznaj više</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="inner">
                        <a href="">
                            <img src="/images/slider/NGkoncert.jpg" class="card-img-top" alt="...">
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn">Saznaj više</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>