<% layout('layouts/boilerplate') %>

<!-- TODO: ODRADITI DA SE OVA STRANICA EDITUJE, DA SE MENJAJU OVI PARAGRAFI -->

<!-- Glavni naslov -->
<h1 class="text-center mb-5 mt-2 naslov">
    Uvod - upoznavanje sa Rotary zajednicom
</h1>

<!-- Rotary pocetak -->
<section class="uvod">
    <div class="container">
        <!-- Naslov -->
        <h3>Rotary početak</h3>

        <!-- Prvi paragraf -->
        <p class="lead">
            Naša priča počinje davne 1996. godine, kada je grupa mladića i devojaka inspirisanih idejom služenja zajednici odlučila da osnuje klub koji će im pružiti šansu da generišu pozitivne promene u svom društvu kroz druženje i podsticanje dobre volje. U oktobru 1997, nakon godinu dana napornog rada i ogromne posvećenosti, ovi mladi entuzijasti najzad se priključuju globalnoj porodici poznatoj pod nazivom Rotary International, time postavši 2. najstariji klub u Srbiji i prvi Rotarakt klub u svom gradu.
        </p>

        <!-- Drugi paragraf -->
        <p class="lead">
            Tokom protekle 23 godine preko 200 članova poklonilo je svoje svoje vreme i energiju Rotaraktu sa željom da promoviše vrednosti Rotarija ne samo u svojoj zemlji, već i svuda u svetu. Poštujući moralne i etičke principe na kojima se zasniva rad naše organizacije, uložili smo veliki trud da kroz klupske aktivnosti u svojoj okolini podstaknemo kulturu davanja, očuvamo lepotu različitosti i sopstvenim naporima podignemo svest o važnim društvenim pitanjima na koja možemo uticati samo velikim, ali iskrenim i poštenim zalaganjem. Do sada smo uspešno sproveli značajan broj servisnih projekata i humanitarnih akcija, kojima smo pomogli one najugroženije i najosetljivije, često zaboravljene grupe ljudi. Neke od ovih akcija, poput prednovogodišnjeg humanitarnog koncerta, donacije školskog pribora isturenim odeljenjima osnovnih škola ili poseta Sigurnoj kući postale su deo naše tradicije.
        </p>

        <!-- Treci paragraf -->
        <p class="lead">
            No, naš angažman obuhvata mnogo više od pomaganja lokalnoj zajednici. Organizovanjem i posećivanjem različitih predavanja, radionica, treninga i seminara težimo ka ličnom i profesionalnom razvoju; usavršavanjem postojećih veština i znanja i njihovim implementiranjem u rad kluba postajemo kvalitetniji ljudi, a samim tim i kvalitetniji rotaraktovci. Pored razvoja liderskih sposobnosti, veliku pažnju posvećujemo i održavanju kontakata sa rotaraktovcima širom Evrope, ali i drugih kontitenata, sa kojima sprovodimo zajedničke akcije i projekte. Najvažnija poruka kojom generacije iskusnijih rotaraktovaca – današnjih rotarijanaca i počasnih članova kluba – dočekuju nove, mlade ,,snage” jeste da je biti deo Rotarakta istovremeno velika privilegija i velika odgovornost, te da smo kao članovi ove globalne organizacije svi zajedno u obavezi da svojim ophođenjem, govorom i ponašanjem branimo ideale i vrednosti Rotarija koji nas ujedinjenjuju. Tokom poslednjih par godina okosnicu našeg tima čini 15-20 članova. Ove privatno veoma različite, ali međusobno veoma bliske ljude možete videti kako najstresnijim danom u nedelji uz smeh i šalu smišljaju nove načine da svet promene na bolje. Po završetku formalnih okupljanja možete nas sresti na neformalnom, takođe neizostavnom nastavku druženja uz (bezalkoholno) piće, eventualno dva
        </p>
    </div>
</section>

<!-- Divider -->
<hr class="my-3">

<!-- Sta je Rotaract -->
<section class="rotaract">
    <div class="container">
        <!-- Naslov -->
        <h3>Šta je Rotaract?</h3>

        <!-- Prvi paragraf -->
        <p class="lead">
            Rotarakt klub je namenjen devojkama i mladićima između 18 i 31 godina starosti koji su posvećeni zajednici i pružanju pomoći drugima. Rotarakt je nastao kao omladinski program Rotary kluba koji su šezdesetih godina prošlog veka počeli da sponzorišu projekte studentskih organizacija koje su se bavile humanitarnim radom. Prvi Rotarakt klub čarterovan je 1968. godine i to je bio Rotaract Club North Charlotte iz Severne Karoline. Ova ideja je veoma brzo zaživela i ,,program” je prerastao u međunarodnu mrežu koja danas, prema podacima RI broji oko 9,500 Rotarakt klubova i više od 290,000 Rotaraktovaca. Naziv Rotaract nastao je kombinacijom engleskih reči ,,rotary” i ,,action”. U Srbiji ovaj program se vezuje za 1994. godinu, jer je prvi sastanak Rotarakt kluba održan u Beogradu 24.12.1994. dok je čarter povelja dodeljena u martu mesecu 1995. Od tog trenutka, u Srbiji se razvijaju Rotarakt klubovi
        </p>

        <!-- Drugi paragraf -->
        <p class="lead">
            Rotarakt klubovi su samoupravni i mogu biti osnovani na nivou univerziteta ili lokalne zajednice. Rotari klubovi sponzorišu Rotarakt klubove i nude im podrušku i usmeravanje i na taj način čine Rotarakt klubove istinskim ,,partnerima u službi” i ključnim članovima Rotari porodice. Organizacija Rotarakt kluba je veoma cenjena aktivnost u Rotariju. Iskusni Rotarijanci imaju mogućnost da budu mentori svojim mlađim kolegama Rotaraktovcima i na taj način da im pomognu da razviju znanja i veštine i da uzmu učešće u životu njihove lokalne zajednice. Rotarakt predstavlja novu energiju mladih ljudi koji svojim inovativnim idejama mogu da doprinesu uspehu Rotary kluba i servisnim projektima.
        </p>

        <!-- Treci paragraf -->
        <div class="lead">
            Kako bi postali članovi, potencijalni kandidati moraju imati između 18 i 31 godina, i moraju imati dobar ugled u svojoj zajednici. Nakon odobrenja svih članova kluba, novi članovi su prihvaćeni i postaju rotaraktovci. Ciljevi Rotarakt klubova su jasno postavljeni i obuhvataju:
        </div>

        <ul class="lead">
            <li class="m-2">
                <span>
                    Razvijanje profesionalnih i liderskih veština mladih Rotaraktovaca.
                </span>
            </li>

            <li class="m-2">
                <span>
                    Aktivnosti humanitarnog karaktera u vidu pomoći drugim ljudima i lokalnoj zajednici.
                </span>
            </li>

            <li class="m-2">
                <span>
                    Ukazivanje poštovanja drugima i prepozvanje vrednosti svake osobe.
                </span>
            </li>

            <li class="m-2">
                <span>
                    Prihvatanje stava da su sve profesije od ogromnog značaja za razvoj okoline i društva.
                </span>
            </li>

            <li class="m-2">
                <span>
                    Negovanje ponašanja koje pomaže ostvarenju i održanju mira i dobre volje među narodima.
                </span>
            </li>
        </ul>
    </div>
</section>

<!-- Divider -->
<hr class="my-3">

<!-- Sta je Rotari -->
<section class="rotary">
    <div class="container">
        <!-- Naslov -->
        <h3>Šta je Rotari?</h3>

        <!-- Prvi paragraf -->
        <p class="lead">
            Rotary International je globalna organizacija posvećenih profesionalaca i humanitaraca koji deluju zajedno kako kako bi pomogli drugima i kako bi doprineli očuvanju mira. Više od 1.2 miliona članova u 34,000 Rotari klubova širom sveta volontira u svojim zajednicama kao i u inostranstvu. Rotary zbližava ljude svih rasa, veroispovesti i političkih uverenja.
        </p>

        <!-- Drugi paragraf -->
        <p class="lead">
            Članovi Rotarija su ne samo bili svedoci događaja od istorijskog značaja, već su i učestvovali u istim. Rotary ima tri jake karakteristike koje su mu pomogne da opstane i zadrži se kroz istorijuuprkos teškim vremenima i krizi koja je zadesila svet. Jedna od ključnih karakteristika je ta da je Rotary oduvek međunarodna organizacija. Samo 16 godina nakon osnivanja prvog Rotary kluba, Rotary se raširio na šest kontinenata. Zatim, Rotary odoleva teškim vremenima. Tokom Drugog svetskog rata, Rotary klubovi u Nemačkoj, Austriji, Japanu i Italiji prisilno su raspušteni. Uprkos riziku, članovi Rotary klubova su se neformalno sastajali, a nakon rata su obnovili svoje klubove. I na kraju, Rotary je prvenstveno posvećen službovanju i ne boji se da sebi postavlja velike i smele ciljeve.
        </p>

        <!-- Treci paragraf -->
        <p class="lead">
            Kako bi Rotary International najbolje funkcionisao, podeljen je na lokalne klubove, distrikte i Internacionalu. Sami Rotarijanci su članovi lokalnih klubova. Klubove čarteruje (daje povelju) globalna organizacija, Rotary International (RI) sa sedištem u Evanstonu, Ilinois. Zbog administracije lokalni klubovi su grupisani u distrikte koji su smešteni u 34 zone. Svaki Rotary klub bira svoje članove, upravne odbore i ima jaku autonomiju. Članstvo se stiče isključivo pozivom, a nakon toga i glasanjem, i zasnovano je po principu istaknuti zastupnici svake profesije, koji se udružuju kako bi pomogli svojim lokalnim zajednicama, ali i delovali globalno. Prvi Rotary klub u Srbiji osnovan je 1928. godine. Istaknuti Rotarijanci osim Milana Stojadinovića, su i Ivo Andrić, Mika Petrović Alas, arhitekta Bogdan Nestorović i drugi.
        </p>
    </div>
</section>

<!-- Divider -->
<hr class="my-3">

<!-- Pridruzi se -->
<section class="join mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
                <h3 class="text-center">Get Involved with Rotary</h3>
                <p class="text-center">Turn your passion and ideas into lasting change in communities around the world.</p>
                <a href="/pridruzise" class="btn btn-outline">JOIN US</a>
            </div>
            <!-- slika -->
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
                <img src="/images/logo/joinLogo.jpg" alt="Logo" class="img-fluid">
            </div>
        </div>
    </div>
</section>