<% layout('layouts/boilerplate') %>

<div class="container">
    <h2><%= title %></h2>
    <form action="/clanovi" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
        <!-- Ime i prezime -->
        <div class="form-group">
            <label for="title">Ime i prezime</label>
            <input type="text" class="form-control" id="title" name="clan[title]" required>
        </div>

        <!-- Funkcija -->
        <div class="form-group">
            <label for="funkcija">Funkcija</label>
            <input type="text" class="form-control" id="funkcija" name="clan[funkcija]" required>
        </div>
    
        <!-- Osnovne informacije -->
        <div class="form-group">
            <label for="osnovne_informacije">Osnovne informacije</label>
            <textarea  type="text" class="form-control" id="osnovne_informacije" name="clan[osnovne_informacije]" rows="3" required></textarea>
        </div>
    
        <!-- Rotarakt iskustvo -->
        <div class="form-group">
            <label for="rotaract_iskustvo">Rotarakt iskustvo</label>
            <textarea type="text" class="form-control" id="rotaract_iskustvo" name="clan[rotaract_iskustvo]" rows="3" required></textarea>
        </div>

        <!-- Obrazovanje -->
        <div class="form-group">
            <label for="obrazovanje">Obrazovanje</label>
            <textarea type="text" class="form-control" id="obrazovanje" name="clan[obrazovanje]" rows="3" required></textarea>
        </div>

        <!-- Radno iskustvo -->
        <div class="form-group">
            <label for="radno_iskustvo">Radno iskustvo</label>
            <textarea type="text" class="form-control" id="radno_iskustvo" name="clan[radno_iskustvo]" rows="3" required></textarea>
        </div>

        <!-- interesovanja -->
        <div class="form-group">
            <label for="interesovanja">Interesovanja</label>
            <textarea type="text" class="form-control" id="interesovanja" name="clan[interesovanja]" rows="3" required></textarea>
        </div>

        <!-- Image -->
        <div class="form-group">
            <label for="image">Slika</label>
            <input type="file" class="form-control-file" id="image" name="clan[image]">
        </div>

        <!-- Dugme -->
        <button type="submit" class="btn">Dodaj člana</button>
    </form>
</div>