/* Akcije*/
.akcije .img-fluid{
    height: 212px;
}

.akcije .dugme{
    font-size: 1rem;
    text-decoration: none;
    color: #f9136b;
}

.akcije .dugme:hover{
    color: #8c8b8b;
}

.akcije p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

/* Dugme */
.akcije .btn{
    background-color: #f9136b;
    color: white;
}    

.akcije .btn:hover {
    border: 1px solid #f9136b;
    background-color: white;
    color:#f9136b;
}

/* !Responsive */
/* Fold */
@media(max-width: 280.98px){
    .akcije .img-fluid{
        height: auto;
    }
}

/* XS */
@media(max-width: 575.98px){
    .akcije .img-fluid{
        height: auto;
    }
}

/* MD */
@media (min-width: 768px) and (max-width: 991.98px){
    .akcije .card{
        display: flex;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .akcije .img-fluid{
        height: auto;
    }
}

/* LG */
@media (min-width: 992px) and (max-width: 1199.98px){
    .akcije .img-fluid{
        height: auto;
    }
}