/* Dugme za izmenu i brisanje*/
.dugme  .btn{
    background-color: #f9136b;
    color: white;
}    

.dugme .btn:hover {
    border: 1px solid #f9136b;
    background-color: white;
    color:#f9136b;
}