/* Glavni naslov */
.naslov {
    color: #f9136b;
    font-size: 3.5rem;
    font-weight: 300;
}

/* Rotary pocetak */
.uvod h3{
    color: #f9136b;
    margin-bottom: 1rem;
}

/* Sta je rotaract */
.rotaract h3{
    color: #f9136b;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 300;
}

.rotaract ul {
    list-style-position: inside;
}

.rotaract li {
    font-size: 1.9rem;
    color: #f9136b;
}

.rotaract li span {
    font-size: 1.5rem;
    color: black;
}


/* Sta je rotari */
.rotary h3{
    color: #f9136b;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 300;
}

/* Divider */
hr{
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

/* Pridruzi se */
.join {
    color: white;
    background-color: #f9136b;
}

.join .btn.btn-outline {
    border-color: #fff;
    border-radius: 0;
    border-width: 2px;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    min-width: 220px;
}


/* !RESPONSIVE */
/* XS */
@media (max-width: 575.98px){
    /* Glavni naslov */
    .naslov {
        font-size: 2.1rem;
    }

    /* Sta je rotaract */
    .rotaract li {
        font-size: 1.5rem;
    }

    .rotaract li span {
        font-size: 1.29rem;
    }

    /* Pridruzi se */
    .join .row {
        margin-top: 2rem;
    }
}