<% layout('layouts/boilerplate') %>

<!-- TODO NAPRAVITI JEDAN H1 TAG KOJI CE SE DODAVATI KADA NIJE POTREBNO DODAVATI NOVE CLANOVE -->

<section class="join">
    <h1 class="text-center">Pridruzi nam se </h1>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="col-lg-6">
            <form action="" method="POST" id="join" class="needs-validation" novalidate>
                <div class="form-group">
                    <label for="ime">Ime</label>
                    <input type="text" class="form-control" id="ime" name="ime" required>
                </div>
                <div class="form-group">
                    <label for="prezime">Prezime</label>
                    <input type="text" class="form-control" id="prezime" name="prezime" required>
                </div>
                <div class="form-group">
                    <label for="email">Email adresa</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="motivacija">Koja je vasa motivacija za clanstvo?</label>
                    <textarea class="form-control" id="motivacija" name="motivacija" required rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="stanje">Kako bi ste poboljsali stanje u drustvu?</label>
                    <textarea class="form-control" id="stanje" name="stanje" required rows="3"></textarea>
                </div>
                <button type="submit" class="btn">Pošalji</button>
              </form>
        </div>
    </div>
</section>