<% layout('layouts/boilerplate')%>

<div class="container d-flex flex-column align-items-center">
    <h1>Registrujte novog admina</h1>

    <form action="/register" method="POST" class="needs-validation" novalidate>
        <!-- USERNAME -->
        <div class="mb-3">
            <label class="form-label" for="username">Username</label>
            <input class="form-control" type="text" id="username" name="username" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <!-- EMAIL -->
        <div class="mb-3">
            <label class="form-label" for="email">Email</label>
            <input class="form-control" type="email" id="email" name="email" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <!-- SIFRA ZA ADMINA -->
        <div class="mb-3">
            <label class="form-label" for="adminCode">Admin kod</label>
            <input class="form-control" type="text" id="adminCode" name="adminCode" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <!-- SIFRA -->
        <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <button class="btn">Registrujte se </button>
    </form>
</div>