<% layout('layouts/boilerplate') %>

<div class="container">
    <h2><%= title %></h2>
    <form action="/dogadjaji" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
        <!-- Title -->
        <div class="form-group">
            <label for="title">Naziv</label>
            <input type="text" class="form-control" id="title" name="dogadjaj[title]" required>
        </div>
    
        <!-- Introduction -->
        <div class="form-group">
            <label for="introduction">Uvodni tekst</label>
            <textarea  type="text" class="form-control" id="introduction" name="dogadjaj[introduction]" rows="3" required></textarea>
        </div>
    
        <!-- description -->
        <div class="form-group">
            <label for="description">Opis dogadjaja</label>
            <textarea type="text" class="form-control" id="description" name="dogadjaj[description]" rows="3" required></textarea>
        </div>

        <!-- Image -->
        <div class="form-group">
            <label for="image">Slika</label>
            <input type="file" class="form-control-file" id="image" name="dogadjaj[image]">
        </div>
    
    
         <!-- Date -->
         <div class="form-group">
            <label for="date">Datum</label>
            <textarea type="text" class="form-control" id="date" name="dogadjaj[date]" rows="1" required></textarea>
        </div>

        <!-- Dugme -->
        <button type="submit" class="btn" >Dodaj događaj</button>
    </form>
</div>

