<% layout('layouts/boilerplate') %>

<!-- TODO: NAPRAVITI DA SE OVDE SKLADISTE SVI DOGAJDAJI I DA IDU NA DOLE POKUSAJ DA NAPRAVIS LIMIT OD 10 DOGADJAJA PA DA SLEDECI ID ENA SLEDECU STRANU I TAKO U KRUG-->

<!-- Dogadjaji -->
<div class="dogadjaji">
    <div class="container">
        <% if(currentUser && currentUser.isAdmin){ %>
            <!-- Dodaj dogadjaj -->
            <a href="/dogadjaji/novi_dogadjaj" class="btn mb-3">Novi dogadjaj</a>
        <% } %>

        <div class="row">
            <div class="col-lg-12 text-center mt-4">
                <h2 class="text-center mb-4">Događaji</h2>
            </div>
        </div>
        
        <% for (let dogadjaj of dogadjaji) { %>
            <div class="row mb-3">
                <div class="col-2">
                    <div class="datum d-flex flex-column text-center">
                        <i class="far fa-calendar align-self-center mb-2"></i>
                        <span style="white-space: pre-wrap;"><%= dogadjaj.date %></span>
                    </div>
                </div>
                <div class="col-10 d-flex flex-column">
                    <h4><%= dogadjaj.title %></h4>
                    <p><%= dogadjaj.introduction %></p>
                    <a href="dogadjaji/<%= dogadjaj._id%>" class="dugme">Saznaj više</a>
                </div>
            </div>
        <% } %>
    </div>
</div>